{% extends "base.html" %}
{% block conteudo %}
<h2>Painel do Administrador</h2>
<ul class="grid-menu">
  <li><a class="card-link" href="{{ url_for('usuarios') }}">Gerenciar Usuários</a></li>
  <li><a class="card-link" href="{{ url_for('cursos') }}">Gerenciar Cursos</a></li>
  <li><a class="card-link" href="{{ url_for('disciplinas') }}">Gerenciar Disciplinas</a></li>
  <li><a class="card-link" href="{{ url_for('turmas') }}">Gerenciar Turmas</a></li>
  <li><a class="card-link" href="{{ url_for('matriculas') }}">Gerenciar Matrículas</a></li>
  <li><a class="card-link" href="{{ url_for('notas') }}">Gerenciar Notas</a></li>
</ul>
{% endblock %}
